
.head{
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
    padding-top: 57.5625px;
    padding-bottom: 57.5625px;
    background-color: white;
    color: #333;
}



.navbar li a:hover{
    color:grey !important;
}


a img{
    height: auto;
    max-height: 55px;
    width: auto;
    max-width: 100%;
}

.main-page{
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    top: 171px;
    
}

.carousel-inner{
    height: auto;
}

.row{
    padding-left: 220px;
    padding-right: 220px; 
}

h1{
    font-size: 3.64583333vw;
    font-family: Della Respira;
    letter-spacing: .01em;
    line-height: 1.3em;
}
