
.head{
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
    padding-top: 57.5625px;
    padding-bottom: 57.5625px;
    background-color: white;
    color: #333;
}



.navbar li a:hover{
    color:grey !important;
}


a img{
    height: auto;
    max-height: 55px;
    width: auto;
    max-width: 100%;
}

.main-page{
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    top: 171px;
    
    
}

.carousel-inner{
    height: 1050px;
    padding-left: 151px;
    padding-right: 151px;
    padding-top: 100px;
}


.row{
    padding-left: 220px;
    padding-right: 220px; 
}

h1{
    font-size: 3.64583333vw;
    font-family: Della Respira;
    letter-spacing: .01em;
    line-height: 1.3em;
}

h2{
    font-family: Della Respira;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.3em;
}

.Mission{
    font-family: Montserrat;
    font-weight: 400;
}

.Mission1{
    font-size: 3.64583333vw;
    font-family: Della Respira;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.3em;
    padding-left: 290px;
    padding-right: 290px;
}

.p1{
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

.box1{
    padding: 0 300px 0 0;
    
}

a{
    color: #d1a400;
}

a.para:hover{
    color: gray !important;
}

hr{
    color: inherit;
    border: 0;
    border-top: 1px solid;
}

.block{
    position: relative;
    top: 15px;
    left: 130px;
}

.card{
    position: relative;
    top: -520px;
    left: 750px;
    height: 390px;
    width: 560px;
    background-color: rgb(233, 231, 231);
    color: #333;
}

h4{
    margin-top: 15px; 
    padding-right: 90px; 
    font-family: Montserrat; 
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
}

a.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #d1a400;
    width: 40%;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 25px;

    font-weight: 400;
    font-style: normal;
    letter-spacing: .13em;
    line-height: 1.5em;
    text-transform: uppercase;
}

a.button:hover{
    background-color: #a07e02;
    color: rgba(255, 255, 255, 0.774);
}

.block1{
    position: relative;
}

.imgs1{
   position: relative;
   left: 445px;
}

.card1{
    position: relative;
    bottom: 590px;
    left: 150px;
    border-radius: 8px;
    height: 390px;
    width: 560px;
    background-color: rgb(233, 231, 231);
    color: #333;
}




