
.head{
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
    padding-top: 57.5625px;
    padding-bottom: 57.5625px;
}

.navbar{
    background-color: white;
    outline-color: white;
}

.navbar{
    display: flex;
}

.navbar li a:hover{
    color:grey !important;
}


a img{
    height: auto;
    max-height: 55px;
    width: auto;
    max-width: 100%;
}

.main-page{
    padding-left: 120px;
    padding-right: 120px;
}

.intro{
    padding: 51px 221px;
    justify-content: space-around;
}

.carousel-inner{
    height: auto;
}

.row{
    padding-left: 220px;
    padding-right: 220px; 
}

h1{
    font-size: 3.64583333vw;
    font-family: Della Respira;
    letter-spacing: .01em;
    line-height: 1.3em;
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 20px;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        background-color: white;
        z-index: 10099;
        border-top: solid 1px #f0f0f0;
    }
    
}
